<main class="main-container">
	<section class="main-container_center">
		<article class="main-item">
			<div class="main-item__headline">we are your <span class="main-item__headline_red">best</span> option</div>
			<div class="main-item__text">Aliquam nibh arcu, pharetra et ipsum eget, finibus suscipit odio. Morbi ornare posuere rutrum. Praesent mauris nunc, blandit a enim in, faucibus laoreet nisi. Curabitur volutpat elit sit amet molestie eleifend. Sed rutrum odio nec neque rhoncus dictum. Donec vitae <a href="" class="main-item__text_red">sollicitudin</a> nunc.<br>Pellentesque sed libero queam.</div>
		</article>
		<article class="main-item">
			<div class="main-item__headline"><span class="main-item__headline_red">clients</span> choose us!</div>
			<div class="main-item__text">Maecenas ut sem ac tellus tempus hendrerit. Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Etiam venenatis purus turpis, eu semper neque placerat ut.<br><br>Curabitur suscipit ligula at metus malesuada iaculis. <a href="" class="main-item__text_red">Learn more</a></div>
		</article>
	</section>
	<section class="main-red">
		<div class="main-red_center">
			<div class="main-red__heading">how can we help?</div>
			<div class="main-red__wrap">
				<div class="main-red__info">
					<div class="main-red__info_image"></div>
					<div class="main-red__info_text">
						Cras in interdum nisi, vitae blandit lectus. In imperdiet dolor eu justo rhoncus, id auctor lacus.
					</div>
				</div>
				<div class="main-red__info">
					<div class="main-red__info_image"></div>
					<div class="main-red__info_text">
						Duis vitae lorem nulla. Aenean lacinia purus neque, eu pulvinar ex placerat nec. Nam elementum.
					</div>
				</div>
				<div class="main-red__info">
					<div class="main-red__info_image"></div>
					<div class="main-red__info_text">
						Nunc lectus consectetur nulla, quis dictum augue leo eu mauris. Nulla pretium felis non dui ultrices.
					</div>
				</div>
				<div class="main-red__info">
					<div class="main-red__info_image"></div>
					<div class="main-red__info_text">
						Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Mori dictum orci ligula, non aliquet.
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="our-project">
		<div class="our-project_center">
			<div class="our-project__heading">
				<div class="our-project__text">our <span class="our-project__text_red">projects</span></div>
				<div class="our-project__scroll">
					<span class="our-project__scroll_left"></span>
					<span class="our-project__scroll_right"></span>
				</div>
			</div>
			<div class="our-project__wrap">
				<div class="our-project__info">
					<div class="our-project__info_image"></div>
					<div class="our-project__info_text">Duis suscipit venenatis</div>
				</div>
				<div class="our-project__info">
					<div class="our-project__info_image"></div>
					<div class="our-project__info_text">Ligula Dignissim</div>
				</div>
				<div class="our-project__info">
					<div class="our-project__info_image"></div>
					<div class="our-project__info_text">Dapibus sit amet</div>
				</div>
				<div class="our-project__info">
					<div class="our-project__info_image"></div>
					<div class="our-project__info_text">Quisque!</div>
				</div>
			</div>
		</div>
	</section>
</main>