@import url('../main/style.less');

.main-container {
	width: 100%;
	height: 1185px;
	.main-container__item-1 {
		background-color: @white;
		.main-container__item-1_center {
			position: relative;
			.block-center(1000px, 443px);
		}
	}
	.main-container__item-2 {
		background-color: @red;
		.main-container__item-2_center {
			.block-center(1000px, 300px);
		}
	}
	.main-container__item-3 {
		background-color: @white;
		.main-container__item-3_center {
			.block-center(1000px, 442px);
		}
	}
}

.main-container__item-1_info {
	float: left;
	margin: 100px 20px 0 0;
	width: 745px;
	height: 240px;
}

.main-container__heading_text {
	.text-style(dark, 22px);
	float: left;
}

.main-container__heading_wrap {
	line-height: 14px;
}

.main-container__heading_wrap:after,
.main-container__heading:after {
	content: '';
	display: block;
	clear: both;
}

.main-container__item-1_little {
	float: left;
	margin-top: 100px;
	width: 235px;
	height: 240px;	
}

.main-container_info_text-1,
.main-container_info_text-2,
.main-container_info_text-3 {
	margin-top: 25px;
	.text-style(dark, 14px, none);
	font-weight: normal;
}

.main-container__list {
	margin-top: 25px;
}

.main-container__list_items {
	margin-left: 20px;
	list-style: square;
	list-style-position: outside;
	color: @red;
}

.main-container__list_item {
	margin-top: 25px;
	.text-style(dark, 14px, none);
	font-weight: normal;
}


.main-container__item-2_heading {
	text-align: center;
	line-height: 25px;
	.text-style(light, 38px);
	transform: translateY(51px);
}

.main-container__item-2_blocks {
	.text-style(light, 14px, none);
	transform: translateY(120px);
	height: 103px;
}

.main-container__item-2_block {
	width: 235px;
	height: 103px;
	float: left;
	margin-right: 20px;
	text-align: center;
	line-height: 20px;
	&:nth-child(4) {
		margin-right: 0;
	}
}

.main-container__item-3_info {
	float: left;
	width: 490px;
	height: 239px;
	margin-top: 100px;
	&:first-child {
		margin-right: 20px;
	}
}

.main-container__scroll {
	float: right;
	margin-top: 5px
}

.main-container__scroll_left {
	display: inline-block;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	border-color: #a1a1a1;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}

.main-container__scroll_right {
	display: inline-block;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	border-color: @red;
	width: 10px;
	height: 10px;
	transform: rotate(-45deg);
	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}

.our-project__wrap {
	width: 490px;
	height: 100%;
	overflow: hidden;
}

#slider-items_two,
#slider-items_three {
	width: 1470px;
	position: relative;
	right: 0;
	transition: all ease 1s;
}

.slider-items_two_float,
.slider-items_three_float {
	float: left;
	width: 490px;
}

.main-container__info {
	margin-top: 30px;
	.text-style(dark, 14px, none);
	font-weight: normal;
	&_red {
		color: @red;
	}
}

.main-container__info_italic {
	font-style: italic; 
}