<main class="main-container">
	<section class="main-container__item-1">
		<div class="main-container__item-1_center">

		</div>
	</section>
	<section class="main-container__item-2">
		<div class="main-container__item-2_center"></div>
	</section>
	<section class="main-container__item-3">
		<div class="main-container__item-3_center">
			<div class="main-container__item-3_center">
				<article class="main-container__item-3_info">
					<div class="main-container__heading">
						<div class="main-container__heading_text">oportunities</div>
						<div class="main-container__scroll">
							<span class="main-container__scroll_left"></span>
							<span class="main-container__scroll_right"></span>
						</div>
					</div>
					<div class="main-container__info">
						<span class="main-container__info_red">Maecenas ut sem ac tellus tempus hendrerit</span><br>
						Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum.
					</div>
				</article>
				<article class="main-container__item-3_info">
					<div class="main-container__heading">
						<div class="main-container__heading_text">testimonials</div>
						<div class="main-container__scroll">
							<span class="main-container__scroll_left"></span>
							<span class="main-container__scroll_right"></span>
						</div>
					</div>
				</article>
			</div>
		</div>
	</section>
</main>