<header class="header-container">
	<div class="header">
		<div class="header-top">
			<a href="about.html"><div class="header-top__logo"></div></a>
			<ul class="header-top__menu">
				<li><a href="about.html">about</a></li>
				<li><a href="products.html">products</a></li>
				<li class="header-top__menu_active"><a href="blog.html">blog</a></li>
				<li><a href="contact.html">contact</a></li>
			</ul>
		</div>
		<div class="header-list">
			<a href="home.html" class="header-list__link">Home</a> / <a href="blog.html" class="header-list__link">Blog</a> / <span class="header-list__link">Curabitur imperdiet, augue vitae</span>
		</div>
	</div>
</header>