<main class="main-container">
	<div class="main-container_center">
		<div class="main-container__content">
			<div class="main-container__content_heading">curabitur imperdiet, augue vitae</div>
			<div class="main-container__content_autor">30/09/2014 by Yane Naumoski</div>
			<div class="main-container__social">
				<div class="main-container__social_item social_twitter"></div>
				<div class="main-container__social_item social_facebook"></div>
				<div class="main-container__social_item social_google-plus"></div>
				<div class="main-container__social_item social_pinterest"></div>
			</div>
			<div class="main-container__image"></div>
			<div class="main-container__text">
				<br>
				Sed ut nisi tempor, tristique dolor a, maximus ante. Pellentesque vehicula vel lectus ac finibus. Sed pretium lorem eu nisi venenatis elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ultrices dolor sed leo euismod luctus. Quisque ut tempor felis. Praesent mattis velit a justo commodo varius.<br><br>

				Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer consequat laoreet orci, in pharetra dolor eleifend non. Mauris nec consectetur ligula, vitae dignissim ipsum. Mauris bibendum dolor vel orci rhoncus, vel viverra est maximus. Donec dictum, nulla et eleifend aliquet, leo mi vehicula odio, vitae ultrices tortor lectus sed <a href="" class="main-container__text_red">purus</a>.<br><br>

				<span class="main-container__text_bold">Duis massa libero, porta vehicula condimentum eget, malesuada lobortis sapien. Integer maximus sem eget lorem vehicula porta at vitae libero.</span><br><br>

				Pellentesque efficitur tincidunt blandit. Sed vel elit nec neque aliquam faucibus tempor vitae arcu. Phasellus et velit augue. Praesent gravida justo a velit tincidunt lobortis. Suspendisse dictum a dui malesuada cursus. Maecenas lacinia pulvinar mollis. Donec venenatis purus efficitur ante malesuada, sit amet semper lectus interdum.<br><br>

				Morbi in augue maximus, posuere arcu at, interdum nibh. Nulla facilisi. Aliquam at tortor eu dui convallis congue nec elementum leo. Curabitur iaculis luctus malesuada. Donec eget tempor tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis <a href="" class="main-container__text_red">egestas</a>.
			</div>
		</div>
	</div>
</main>