<main class="main-container">
	<div class="main-container_center">
		<div id="slider-items_four">
			<div class="slider-items_four_float">
				<section class="main-container__row">
					<article class="main-container__col">
						<div class="main-container__heading"><a href="blog-post.html" class="main-container__heading_link">curabitur imperdiet, augue vitae</a></div>
						<div class="main-container__image image_1"></div>
						<div class="main-container__text">
							Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum.
						</div>
						<div class="main-container__info">
							30/09/2014 by Yane Naumoski
						</div>
					</article>
					<article class="main-container__col">
						<div class="main-container__heading"><a href="blog-post.html" class="main-container__heading_link">class aptent taciti sociosqu</a></div>
						<div class="main-container__image image_2"></div>
						<div class="main-container__text">
							Maecenas ut sem ac tellus tempus hendrerit. Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Etiam venenatis purus turpis, eu semper neque placerat ut.
						</div>
						<div class="main-container__info">
							29/09/2014 by Yane Naumoski
						</div>
					</article>
				</section>
				<section class="main-container__row">
					<article class="main-container__col">
						<div class="main-container__heading"><a href="blog-post.html" class="main-container__heading_link">sed ultrices odio arcu, et mollis leo</a></div>
						<div class="main-container__image image_3"></div>
						<div class="main-container__text">
							Curabitur suscipit ligula at metus malesuada iaculis. Fusce eget sapien turpis. Etiam dapibus, velit vitae mollis faucibus, ipsum nisi lacinia leo, sed venenatis ipsum sem a turpis.
						</div>
						<div class="main-container__info">
							27/09/2014 by Yane Naumoski
						</div>
					</article>
					<article class="main-container__col">
						<div class="main-container__heading"><a href="blog-post.html" class="main-container__heading_link">vestibulum in eleifend metus</a></div>
						<div class="main-container__image image_4"></div>
						<div class="main-container__text">
							Morbi vestibulum eros sodales dolor efficitur fringilla. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum. Etiam a interdum metus.
						</div>
						<div class="main-container__info">
							26/09/2014 by Yane Naumoski
						</div>
					</article>
				</section>
			</div>
			<div class="slider-items_four_float">
				<section class="main-container__row">
					<article class="main-container__col">
						<div class="main-container__heading"><a href="blog-post.html" class="main-container__heading_link">suspendisse leo sem, tincidunt eget</a></div>
						<div class="main-container__image image_1"></div>
						<div class="main-container__text">
							Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum.
						</div>
						<div class="main-container__info">
							30/09/2014 by Yane Naumoski
						</div>
					</article>
					<article class="main-container__col">
						<div class="main-container__heading"><a href="blog-post.html" class="main-container__heading_link">class aptent taciti sociosqu</a></div>
						<div class="main-container__image image_2"></div>
						<div class="main-container__text">
							Maecenas ut sem ac tellus tempus hendrerit. Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Etiam venenatis purus turpis, eu semper neque placerat ut.
						</div>
						<div class="main-container__info">
							29/09/2014 by Yane Naumoski
						</div>
					</article>
				</section>
				<section class="main-container__row">
					<article class="main-container__col">
						<div class="main-container__heading"><a href="blog-post.html" class="main-container__heading_link">sed ultrices odio arcu, et mollis leo</a></div>
						<div class="main-container__image image_3"></div>
						<div class="main-container__text">
							Curabitur suscipit ligula at metus malesuada iaculis. Fusce eget sapien turpis. Etiam dapibus, velit vitae mollis faucibus, ipsum nisi lacinia leo, sed venenatis ipsum sem a turpis.
						</div>
						<div class="main-container__info">
							27/09/2014 by Yane Naumoski
						</div>
					</article>
					<article class="main-container__col">
						<div class="main-container__heading"><a href="blog-post.html" class="main-container__heading_link">vestibulum in eleifend metus</a></div>
						<div class="main-container__image image_4"></div>
						<div class="main-container__text">
							Morbi vestibulum eros sodales dolor efficitur fringilla. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum. Etiam a interdum metus.
						</div>
						<div class="main-container__info">
							26/09/2014 by Yane Naumoski
						</div>
					</article>
				</section>
			</div>
		</div>
		<div class="main-container__scroll">
			<span class="main-container__scroll_left" id="scroll_left_four"></span>
			<span class="main-container__scroll_right" id="scroll_right_four"></span>
		</div>
	</div>
</main>