<main class="main-container">
	<div class="main-container_center">
		<section class="main-container__row">
			<article class="main-container__col">
				<div class="main-container__heading">suspendisse leo sem, tincidunt eget</div>
				<div class="main-container__image"></div>
				<div class="main-container__text">
					Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum.
				</div>
				<div class="main-container__info">
					30/09/2014 by Yane Naumoski
				</div>
			</article>
			<article class="main-container__col">
				<div class="main-container__heading">class aptent taciti sociosqu</div>
				<div class="main-container__image"></div>
				<div class="main-container__text">
					Maecenas ut sem ac tellus tempus hendrerit. Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Etiam venenatis purus turpis, eu semper neque placerat ut.
				</div>
				<div class="main-container__info">
					29/09/2014 by Yane Naumoski
				</div>
			</article>
		</section>
		<section class="main-container__row">
			<article class="main-container__col">
				<div class="main-container__heading">sed ultrices odio arcu, et mollis leo</div>
				<div class="main-container__image"></div>
				<div class="main-container__text">
					Curabitur suscipit ligula at metus malesuada iaculis. Fusce eget sapien turpis. Etiam dapibus, velit vitae mollis faucibus, ipsum nisi lacinia leo, sed venenatis ipsum sem a turpis.
				</div>
				<div class="main-container__info">
					27/09/2014 by Yane Naumoski
				</div>
			</article>
			<article class="main-container__col">
				<div class="main-container__heading">vestibulum in eleifend metus</div>
				<div class="main-container__image"></div>
				<div class="main-container__text">
					Morbi vestibulum eros sodales dolor efficitur fringilla. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum. Etiam a interdum metus.
				</div>
				<div class="main-container__info">
					26/09/2014 by Yane Naumoski
				</div>
			</article>
		</section>
		<div class="main-container__scroll">
			<span class="main-container__scroll_left"></span>
			<span class="main-container__scroll_right"></span>
		</div>
	</div>
</main>