<main class="main-container">
	<div class="main-container_center">
		<section class="main-container__info">
			<article class="main-container__data">
				<div class="main-container__heading">Say hi</div>
				<div class="main-container__text">
					Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor.
				</div>
				<div class="main-container__form">
					<form action="" class="main-container__form_data">
						<input type="text" class="main-container__form_name form_input" placeholder="Full name">
						<input type="text" class="main-container__form_mail form_input" placeholder="E-mail">
						<textarea class="main-container__form_message form_input" placeholder="Message"></textarea>
						<input type="submit" class="main-container__form_submit" value="submit">
					</form>
				</div>
			</article>
			<article class="main-container__data">
				<div class="main-container__heading">location</div>
				<div class="main-container__map">
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abdb16f2a010a9d1482b841f44bc1dda022bdfe349de06873045a42c01ba9294d&amp;width=490&amp;height=240&amp;lang=ru_RU&amp;scroll=true"></script>
				</div>
				<div class="main-container__data_address">
					154 Street Name 242<br>
					Cityname, 12345<br>
					Country<br>
					Phone: ++1 234 56789<br>
					Mobile: ++9 876 54321<br><br>
					<a href="" class="main-container__data_red">info.city@domainame.com</a>
				</div>
			</article>
		</section>
	</div>
</main>