@import url('../main/style.less');

.test:hover {
	outline: 1px solid red;
}

.main-container {
	width: 100%;
	height: 1137px;
	.main-container_center {
		.block-center(1000px, 100%);
		overflow: hidden;
	}
}

.main-container__row {
	width: 100%;
	height: 392px;
	padding-top: 75px;
	&:first-child {
		padding-top: 100px;
	}
}

.main-container__col {
	width: 490px;
	height: 392px;
	float: left;
	&:first-child {
		margin-right: 20px;
	}
}

.main-container__heading {
	.text-style(dark, 22px);
	line-height: 16px;
}

.main-container__heading_link {
	text-decoration: none;
	color: @dark;
	&:hover {
		color: darken(@dark, 10%);
	}
	&:after {
		display: block;
		content: "";
		margin-top: 3px;
		height: 2px;
		width: 0%;
		background-color: @dark;
		transition: width .3s ease-in-out;
	}
	&:hover:after,
	&:focus:after {
		width: 100%;
	}
}

.main-container__image {
	margin-top: 34px;
	width: 100%;
	height: 240px;
	background-color: #b1b1b1;
}

.main-container__text {
	.text-style(dark, 14px, none);
	font-weight: normal;
	margin-top: 18px;
}

.main-container__info {
	.text-style(#808080, 12px, none);
	margin-top: 5px;
}

.main-container__scroll {
	text-align: center;
	position: relative;
	top: 60px;
}

.main-container__scroll_left {
	display: inline-block;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	border-color: #a1a1a1;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}

.main-container__scroll_right {
	display: inline-block;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	border-color: @red;
	width: 10px;
	height: 10px;
	transform: rotate(-45deg);
	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}

#slider-items_four {
	width: 2000px;
	height: 1000px;
	position: relative;
	transition: all ease 1s;
	right: 0;
}

.slider-items_four_float {
	float: left;
	width: 1000px;
}

.slider-items_four_float {
	&:first-child {
		.image_1 {
			background-image: url(../img/sprite.png);
			background-position: -1920px -564px;
			width: 490px;
			height: 240px;
		}
		.image_2 {
			background-image: url(../img/sprite.png);
			background-position: -1920px -1173px;
			width: 490px;
			height: 240px;
		}
		.image_3 {
			background-image: url(../img/sprite.png);
			background-position: -1920px -890px;
			width: 490px;
			height: 240px;
		}
		.image_4 {
			background-image: url(../img/sprite.png);
			background-position: -1920px 0px;
			width: 490px;
			height: 240px;
		}
	}
	&:last-child {
		.image_1 {
			background-image: url(../img/sprite.png);
			background-position: -1920px -564px;
			width: 490px;
			height: 240px;
		}
		.image_2 {
			background-image: url(../img/sprite.png);
			background-position: -1920px -1173px;
			width: 490px;
			height: 240px;
		}
		.image_3 {
			background-image: url(../img/sprite.png);
			background-position: -1920px -890px;
			width: 490px;
			height: 240px;
		}
		.image_4 {
			background-image: url(../img/sprite.png);
			background-position: -1920px 0px;
			width: 490px;
			height: 240px;
		}
	}
}