<header class="header-container">
	<div class="header">
		<div class="header-top">
			<div class="header-top__logo"></div>
			<ul class="header-top__menu">
				<li><a href="about.html">about</a></li>
				<li><a href="products.html">products</a></li>
				<li><a href="blog.html">blog</a></li>
				<li><a href="contact.html">contact</a></li>
			</ul>
		</div>
		<div class="banner">
			<div class="banner_wrapper">
				<div class="banner__heading">suspendisse elementum</div>
				<div class="banner__slogan">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed convallis nibh, eget scelerisque erat. Sed elementum at nil id euismod. Nullam eget justo magna.</div>
				<button class="banner__button">learn more</button>
			</div>
		</div>
	</div>
</header>