<footer class="footer-container">
	<div class="footer-container_center">
		<section class="footer-container__content">
			<div class="footer-container__heading">about <span class="footer-container__heading_red">us</span></div>
			<div class="footer-container__info">
				<div class="footer-container__info_image"></div>
				<div class="footer-container__info_text">Sed erat justo, dapibus sit amet dictum sit amet, condimentum vel erat. Maecenas mollis.<br> Duis suscipit venenatis sapien, et dictum ligula dignissim non. Nunc sapien justo, faucibus commodo ullamcorper nec, tempor vitae queam. <a href="" class="footer-container__info_red">Read more</a></div>
			</div>
		</section>
		<section class="footer-container__content">
			<div class="footer-container__heading">from our <span class="footer-container__heading_red">blog</span></div>
			<div class="footer-container__info">
				<div class="footer-container__info_image footer__image_one"></div>
				<div class="footer-container__info_text">Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum, sollicitudin ante nec...</div>
				<div class="footer-container__info_image footer__image_two"></div>
				<div class="footer-container__info_text">Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Morbi tum...</div>
			</div>
		</section>
		<section class="footer-container__content">
			<div class="footer-container__info">
				<div class="footer-container__info_image footer__image_one"></div>
				<div class="footer-container__info_text">Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum, sollicitudin ante nec...</div>
				<div class="footer-container__info_image footer__image_two"></div>
				<div class="footer-container__info_text">Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Morbi tum...</div>
			</div>
		</section>
		<section class="footer-container__content">
			<div class="footer-container__heading">our <span class="footer-container__heading_red">location</span></div>
			<div class="footer-container__info">
				<div class="footer-container__info_text">
					Suspendisse ullamcorper diam ex.<br><br>
					154 Street Name 242<br>
					Cityname, Country<br>
					<a href="" class="footer-container__info_red">info@domainame.com</a>
				</div>
				<div class="footer-container__image">
					<a href="" class="footer-container__image_social"></a>
					<a href="" class="footer-container__image_social"></a>
					<a href="" class="footer-container__image_social"></a>
					<a href="" class="footer-container__image_social"></a>
				</div>
			</div>
		</section>
	</div>
</footer>