<main class="main-container">
	<div class="main-container_center">
		<section class="main-container__row">
			<article class="main-container__col">
				<div class="main-container__heading">zaamron v2.1</div>
				<div class="main-container__text">
					<span class="main-container__text_red">Maecenas ut sem ac tellus tempus hendrerit</span><br>
					Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum.
				</div>
				<div class="main-container__images">
					<div class="main-container__images_image"></div>
					<div class="main-container__images_image"></div>
				</div>
			</article>
			<article class="main-container__col">
				<div class="main-container__heading">ozertrax</div>
				<div class="main-container__text">
					<span class="main-container__text_red">Fusce eget sapien turpis</span><br>
					Etiam dapibus, velit vitae mollis faucibus, ipsum nisi lacinia leo, sed venenatis ipsum sem a turpis. Morbi vestibulum eros sodales dolor efficitur fringilla. Duis tempus commodo velit, quis aliquet augue cursus a.
				</div>
				<div class="main-container__images">
					<div class="main-container__images_image"></div>
					<div class="main-container__images_image"></div>
				</div>
			</article>
		</section>
		<section class="main-container__row">
			<article class="main-container__col">
				<div class="main-container__heading">job golux</div>
				<div class="main-container__text">
					<span class="main-container__text_red">Vivamus tempus ac libero eu dignissim</span><br>
					Quisque suscipit quam vel tortor luctus, sit amet sagittis ante eleifend. In quis purus nibh. Curabitur euismod, nunc a aliquam dictum, magna mauris vestibulum massa, nec luctus arcu ligula quis tortor.
				</div>
				<div class="main-container__images">
					<div class="main-container__images_image"></div>
					<div class="main-container__images_image"></div>
				</div>
			</article>
			<article class="main-container__col">
				<div class="main-container__heading">zotlam</div>
				<div class="main-container__text">
					<span class="main-container__text_red">Cras dapibus euismod nulla</span><br>
					Sed sagittis laoreet magna, in bibendum nulla vestibulum scelerisque. Quisque faucibus risus ut erat volutpat semper. Quisque ac molestie justo. Nam eu erat eros. Etiam imperdiet sollicitudin est eleifend bibendum.
				</div>
				<div class="main-container__images">
					<div class="main-container__images_image"></div>
					<div class="main-container__images_image"></div>
				</div>
			</article>
		</section>
		<section class="main-container__row">
			<article class="main-container__col">
				<div class="main-container__heading">strongzap - your photobook</div>
				<div class="main-container__text">
					<span class="main-container__text_red">Phasellus sollicitudin nulla</span><br>
					Vivamus ac lorem fringilla dui semper dignissim ornare at nulla. Donec bibendum ligula mi, id dignissim nisl imperdiet vel. Pellentesque sodales, purus nec condimentum aliquet, velit dui efficitur nisi, eget bibendum.
				</div>
				<div class="main-container__images">
					<div class="main-container__images_image"></div>
					<div class="main-container__images_image"></div>
				</div>
			</article>
			<article class="main-container__col">
				<div class="main-container__heading">trippleex</div>
				<div class="main-container__text">
					<span class="main-container__text_red">Duis in urna eget elit lacinia</span><br>
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec posuere elit at eros sagittis, id malesuada nibh rutrum. Phasellus pulvinar convallis sem et facilisis. 
				</div>
				<div class="main-container__images">
					<div class="main-container__images_image"></div>
					<div class="main-container__images_image"></div>
				</div>
			</article>
		</section>
	</div>
</main>