@import url('../main/style.less');

.main-container {
	width: 100%;
	height: 1230px;
	display: block;
	.main-container_center {
		.block-center(1000px, 100%);
	}
}

.main-container__row {
	width: 100%;
	height: 290px;
	padding-top: 80px;
	&:first-child {
		padding-top: 100px;
	}
}

.main-container__col {
	width: 490px;
	height: 290px;
	float: left;
	&:first-child {
		margin-right: 20px;
	}
}

.main-container__heading {
	.text-style(dark, 22px);
	line-height: 18px;
}

.main-container__text_red {
	color: @red;
	font-weight: bold;
}

.main-container__text {
	margin-top: 30px;
	.text-style(dark, 14px, none);
	font-weight: normal;
}

.main-container__images {
	margin-top: 30px;
}

.main-container__images_image {
	background-color: #b1b1b1;
	float: left;
	width: 235px;
	height: 129px;
	&:nth-child(1) {
		margin-right: 20px;
	}
	&:nth-child(2) {
		
	}
}

.main-container__row {
	&:nth-child(1) {
		.image_1 {
			background-image: url(../img/sprite.png);
			background-position: -1470px -1364px;
			width: 235px;
			height: 129px;
		}
		.image_2 {
			background-image: url(../img/sprite.png);
			background-position: -725px -1707px;
			width: 235px;
			height: 130px;
		}
		.image_3 {
			background-image: url(../img/sprite.png);
			background-position: -470px -1707px;
			width: 235px;
			height: 130px;
		}
		.image_4 {
			background-image: url(../img/sprite.png);
			background-position: -1470px -1207px;
			width: 235px;
			height: 130px;
		}
	}
	&:nth-child(2) {
		.image_1 {
			background-image: url(../img/sprite.png);
			background-position: -235px -1863px;
			width: 235px;
			height: 130px;
		}
		.image_2 {
			background-image: url(../img/sprite.png);
			background-position: -980px -1707px;
			width: 235px;
			height: 130px;
		}
		.image_3 {
			background-image: url(../img/sprite.png);
			background-position: -1246px -1707px;
			width: 235px;
			height: 130px;
		}
		.image_4 {
			background-image: url(../img/sprite.png);
			background-position: -1000px -1521px;
			width: 235px;
			height: 130px;
		}
	}
	&:nth-child(3) {
		.image_1 {
			background-image: url(../img/sprite.png);
			background-position: -1235px -1521px;
			width: 235px;
			height: 130px;
		}
		.image_2 {
			background-image: url(../img/sprite.png);
			background-position: -1470px -1521px;
			width: 235px;
			height: 130px;
		}
		.image_3 {
			background-image: url(../img/sprite.png);
			background-position: 0px -1707px;
			width: 235px;
			height: 130px;
		}
		.image_4 {
			background-image: url(../img/sprite.png);
			background-position: -470px -1707px;
			width: 235px;
			height: 130px;
		}
	}
}